@import 'typography';
@import 'color';

.read-it-to-me-content-group:not(.ritm-disabled) {
  position:relative;
  font-size:1em;

  &:hover,
  &:focus,
  &.focusin {
    outline:none;

    > .read-this-to-me {
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        background-color:transparent;
        height: 100%;
        left: -7px;
        border-left: 3px dashed $ritm-primary-color;
      }
    }

    /*Once we're on the little 'R' icon, expand the hidden hover surface to allow users to slide off the icon onto the controls or content at a diagonal without mousing out*/
    &:after {
      height:29px;
      top: -6px;
    }
  }

  &:before {
    position: absolute;
    left: -20px;
    top: 3px;
    content: "R";
    font-weight: 700;
    font-size: 7px;
    border-radius: 7px;
    background-color: $ritm-primary-color;
    color: black;
    padding: 1px 3px 0;
    line-height: 1.42857143;
  }

  &:after {
    position: absolute;
    height:11px;
    width:30px;
    left: -20px;
    top: 3px;
    content: "";
  }

  &.read-it-to-me-play,
  &.read-it-to-me-pause {
    background-color:rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0.15) !important;

    > .read-it-to-me-control-bubble > button:last-of-type {
      display:inline-block;
    }
  }
}

.read-this-to-me {
  padding-top:1px;
  
  &:after {
    content: "";
    display:table;
    clear:both;
  }
}

// A little 'look at me' sugar for the control bubble
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0.7);
    box-shadow: 0 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0.7);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0);
      box-shadow: 0 0 0 10px rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0);
      box-shadow: 0 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0);
  }
}

.read-it-to-me-control-bubble {
  display:none;
  position:absolute;
  left:-7px;
  top:-50px;
  padding:5px 15px;
  background-color:$ritm-primary-color;
  box-shadow: 0 0 0 rgba(nth($primary, 1), nth($primary, 2), nth($primary, 3), 0.4);
  animation: pulse 2s infinite;
  border-radius: 28px 28px 28px 0;
  text-align:center;
  line-height:1.42857143;
}
.read-it-to-me-content-group .read-it-to-me-control-bubble {
  display:block;
}
.read-it-to-me-control-bubble > p.read-it-to-me-label,
.read-it-to-me-control-bar .toggle-wrapper p.read-it-to-me-label {
  margin:0 !important;
  text-transform:uppercase;
  white-space: nowrap;
  font-size:10px !important;
  font-weight:normal;
  color:black;
}
.read-it-to-me-control-bubble > p.read-it-to-me-label:before,
.read-it-to-me-control-bar .toggle-wrapper p.read-it-to-me-label:before {
  content:"read it to me";
}
.read-it-to-me-control-bubble > button {
  position: relative;
  display: inline-block;
  padding:0 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.read-it-to-me-control-bubble > button:first-of-type:before {
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  color:black;
  background-size:contain;
  background-image: url("data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%20300%20300%22%20viewBox%3D%220%200%20300%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m224%20157.5-93.4%2078.6c-8.5%207.1-21.4%201.1-21.4-10v-157.2c0-11.1%2012.9-17.1%2021.4-10l93.4%2078.6c6.1%205.3%206.1%2014.8%200%2020z%22%2F%3E%3C%2Fsvg%3E");
}
.read-it-to-me-play > .read-it-to-me-control-bubble > button:first-of-type:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%20300%20300%22%20viewBox%3D%220%200%20300%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m111%20237h-15.9c-8.3%200-15-6.7-15-15v-148.8c0-8.3%206.7-15%2015-15h15.9c8.3%200%2015%206.7%2015%2015v148.8c0%208.3-6.7%2015-15%2015z%22%2F%3E%3Cpath%20d%3D%22m204%20237h-15.9c-8.3%200-15-6.7-15-15v-148.8c0-8.3%206.7-15%2015-15h15.9c8.3%200%2015%206.7%2015%2015v148.8c0%208.3-6.7%2015-15%2015z%22%2F%3E%3C%2Fsvg%3E");
}
.read-it-to-me-pause > .read-it-to-me-control-bubble > button:first-of-type:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%20300%20300%22%20viewBox%3D%220%200%20300%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m103%20239h-15.9c-8.3%200-15-6.7-15-15v-148.8c0-8.3%206.7-15%2015-15h15.9c8.3%200%2015%206.7%2015%2015v148.8c0%208.3-6.7%2015-15%2015z%22%2F%3E%3Cpath%20d%3D%22m251%20160.5-93.4%2078.6c-8.5%207.1-21.4%201.1-21.4-10v-157.2c0-11.1%2012.9-17.1%2021.4-10l93.4%2078.6c6.1%205.3%206.1%2014.8%200%2020z%22%2F%3E%3C%2Fsvg%3E");
}
.read-it-to-me-control-bubble > button:last-of-type {
  display:none;
  height:23px;
  color:red;
  font-weight:700;
  margin-left:7px;

  &:before {
    content: "x";
    display: inline-block;
    padding: 0 3px 2px;
    background-color: red;
    border-radius: 5px;
    font-size: 10px;
    vertical-align: 1px;
    color: white;
    font-family:verdana;
    text-transform:none;
  }
}

.read-it-to-me-control-bubble > button,
.read-it-to-me-control-bar button {
  border:1px solid #ccc;
  border-radius:3px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  transition: transform 150ms ease;
  font-size:10px;
}

.read-it-to-me-control-bubble > button:hover,
.read-it-to-me-control-bubble > button:focus,
.read-it-to-me-control-bar button:hover,
.read-it-to-me-control-bar button:focus {
  background-color:whitesmoke;
  border-color:#999;
}
.read-it-to-me-control-bubble > button:active,
.read-it-to-me-control-bar button:active {
  transform: scale(0.95);
}

.read-it-to-me-control-bar {
  position:fixed;
  right:5px;
  bottom:5px;
  z-index:1000;
  display:inline-block;
  box-sizing:content-box;
  width:30px;
  height:auto;
  max-height:30px;
  min-height:30px;
  // max-width:30px;
  min-width:30px;
  background-color: white;
  text-align:center;
  line-height:10px;
  transition: width 0.3s ease-in-out, max-height 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  overflow:hidden;
  border:1px solid $ritm-primary-color;
  border-radius:16px;

  &:before {
    position: absolute;
    left: 3px;
    top: 3px;
    content: "R";
    font-weight: 700;
    font-size: 16px;
    border-radius: 11px;
    background-color: $ritm-primary-color;
    color: black;
    padding: 1px 6px 1px 7px;
    line-height: 22px;
  }

  &.control-bar-show,
  &:hover,
  &:focus {
    width:150px;
    max-height:190px;
    padding-top:5px;
    border-radius:10px;

    &:before {
      position: absolute;
      left: 4px;
      top: 4px;
      content: "R";
      font-weight: 700;
      font-size: 7px;
      border-radius: 7px;
      // border:1px solid white;
      background-color: $ritm-primary-color;
      color: black;
      padding: 1px 3px 0;
      line-height: 1.42857143;
    }

    .toggle-wrapper p.read-it-to-me-label {
      display:block;
    }
    .toggle-wrapper .switch {
      display:inline-block;
    }
  }
  &:focus {
    outline:none;
    box-shadow: 0px 0px 4px 2px rgba(59,153,252,1);
  }

  * {
    box-sizing:inherit;
  }

  .toggle-wrapper p.read-it-to-me-label {
    display:none;

    &:before {
      content:"";
    }
  }

  .toggle-wrapper {
    padding-left:21px;
    padding-right:7px;
  }

  .cancel-audio-wrapper {
    display: none;
    box-sizing:border-box;
    width:100%;
    padding:5px;
    background-color: $ritm-primary-color;
    text-align:center;

    > button {
      display: inline-block;
      padding: 5px 10px;
      margin: 0;
      text-decoration: none;
      background: white;
      font-size: 10px;
      line-height: 1;
      cursor: pointer;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-transform: uppercase;
      color: black;

      border-radius: 6px;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      user-select: none;
      overflow: visible;

      &:before {
        content: "x";
        display: inline-block;
        margin-right: 5px;
        padding: 0 3px 2px;
        background-color: red;
        border-radius: 5px;
        font-size: 10px;
        vertical-align: 1px;
        color: white;
        font-family:verdana;
        text-transform:none;
      }
    }
  }

  &.show-ritm-cancel,
  &.show-ritm-cancel .cancel-audio-wrapper {
    display:block;
  }


  /*
  * Tab focus for web accessibility added
  * by Shawn Lawler
  *
  * Copyright (c) 2013 Thibaut Courouble
  * http://www.cssflow.com
  * Licensed under the MIT License
  */
  .switch {
    position: relative;
    display: none;
    margin: 7.5px auto;
    vertical-align: top;
    width: 56px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
    font: 13px/20px sans-serif;
    overflow:visible;

    .switch-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked {
        ~ .switch-label {
          background: #47a8d8;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);

          &:before {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }
        }

        ~ .switch-handle {
          left: 40px;
          box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .switch-label {
      position: relative;
      display: block;
      height: inherit;
      font-size: 10px;
      text-transform: uppercase;
      background: #eceeef;
      border-radius: inherit;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
      -webkit-transition: 0.15s ease-out;
      -moz-transition: 0.15s ease-out;
      -o-transition: 0.15s ease-out;
      transition: 0.15s ease-out;
      -webkit-transition-property: opacity, background;
      -moz-transition-property: opacity, background;
      -o-transition-property: opacity, background;
      transition-property: opacity, background;

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
      }

      &:before {
        content: attr(data-off);
        right: 11px;
        color: #aaa;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
      }

      &:after {
        content: attr(data-on);
        left: 11px;
        color: white;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
      }
    }

    .switch-outline {
      position:absolute;
      top:-2px;
      left:-2px;
      display:none;
      width:100%;
      height:100%;
      border:2px solid #3b99fc;
      border-radius: 15px;
      opacity: .6;
    }

    .switch:focus > .switch-outline,
    .switch-input:focus ~ .switch-outline{
      display:block;
    }

    .switch-handle {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 18px;
      height: 18px;
      background: white;
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
      background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
      background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
      background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
      -webkit-transition: left 0.15s ease-out;
      -moz-transition: left 0.15s ease-out;
      -o-transition: left 0.15s ease-out;
      transition: left 0.15s ease-out;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: #f9f9f9;
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        background-image: -webkit-linear-gradient(top, #eeeeee, white);
        background-image: -moz-linear-gradient(top, #eeeeee, white);
        background-image: -o-linear-gradient(top, #eeeeee, white);
        background-image: linear-gradient(to bottom, #eeeeee, white);
      }
    }
  }
}

// https://webaim.org/techniques/css/invisiblecontent/
.visually-hidden
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
